
<div *ngIf = "isBelongToUser" class="card card-block">
  <button type="button" (click) = "onTapEditChallenge()"> Edit Challenge </button>
  <button type="button" (click) = "onTapDeleteChallenge(challenge.id)"> Delete Challenge </button>
  <p> {{ challenge.challengeName }}</p>
  <p> Posted By {{ challenge.postedBy }}</p>
  <p> Date Posted {{ challenge.datePosted }} </p>
  <div style="border: 10px;"class="tags-container" *ngFor="let tag of challenge.tags">
  <span style="float: left;" class="label">{{ tag }}</span>
  </div>
  <p> Number Of Questions {{ challenge.numberOfQuestions }} </p>
  <p>Latitude: {{challenge.location.latitude}} Longitude {{challenge.location.longitude}}</p>
</div>

<div *ngIf = "!isBelongToUser" (click)="onTakeChallenge(challenge)" class="card card-block clickable">
  <p> {{ challenge.challengeName }}</p>
  <p> Posted By {{ challenge.postedBy }}</p>
  <p> Date Posted {{ challenge.datePosted }} </p>
  <div style="border: 10px;"class="tags-container" *ngFor="let tag of challenge.tags">
  <span style="float: left;" class="label">{{ tag }}</span>
  </div>
  <p> Number Of Questions {{ challenge.numberOfQuestions }} </p>
  <p>Latitude: {{challenge.location.latitude}} Longitude {{challenge.location.longitude}}</p>
</div>