<!-- Add icon library -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div *ngIf = "isBelongToUser" class="card card-block active">
  <h1> {{ challenge.challengeName }}</h1>
  <div id="posted-by">
   <h5 style="display: inline-block;"> {{ challenge.postedBy }}</h5>
   <img style="display: inline-block;" src="assets/images/johnlegend.jpg" alt="Profile Image" class="img-circle">
  </div>
  <h4> {{ challenge.datePosted }} </h4>
  <h6> {{ challenge.numberOfQuestions }} Questions </h6>
  <p id="location-address">{{challenge.location.address}}</p>
  <div style="border: 3px;"class="tags-container" *ngFor="let tag of challenge.tags">
    <span style="float: left;" class="label">{{ tag }}</span>
  </div>
  <div style="display: inline-block; margin-top:10px;">
    <button type="button" (click) = "onTapEditChallenge()" class="btn btn-primary btn-sm" style="display: inline-block"> Edit </button>
    <button type="button" (click) = "onTapDeleteChallenge(challenge.id)" class="btn btn-danger btn-sm" style="display: inline-block"> Delete </button>

  </div>
</div>

<div *ngIf = "!isBelongToUser" (click)="onTakeChallenge(challenge)" class="card clickable active">
  <h1> {{ challenge.challengeName }}</h1>
  <div id="posted-by">
   <h5 style="display: inline-block;"> {{ challenge.postedBy }}</h5>
   <img style="display: inline-block;" src="assets/images/johnlegend.jpg" alt="Profile Image" class="img-circle">
  </div>
  <h4> {{ challenge.datePosted }} </h4>
  <h6> {{ challenge.numberOfQuestions }} Questions </h6>
  <p id="location-address">{{challenge.location.address}}</p>
  <div style="border: 3px;"class="tags-container" *ngFor="let tag of challenge.tags">
    <span style="float: left;" class="label">{{ tag }}</span>
  </div>
  <div style="margin: 30px"></div>
  
</div>