 <header class="header-6">
    <div class="branding">
        <a routerLink="/home" class="nav-link">
            <clr-icon shape="world"></clr-icon>
            <span class="title">GeoQuiz</span>
        </a>
    </div>
    <div class="header-nav">
        <button type="button" (click) = "onCreateNewChallenge()">Create Challenge</button>
    </div>

    <ng-template #searchItemTemplate let-model="challenge" let-index="index">
        <h5>This is: {{model | json}} Index: {{ index }}</h5>
    </ng-template>
    
    <input id="search_input" type="text" [(ngModel)]="selected"
       [typeahead]="searchChallenge"
       [typeaheadItemTemplate]="searchItemTemplate"
       class="form-control">
    <div class="header-actions">
        <clr-dropdown [clrCloseMenuOnItemClick]="true">
            <button type="button" clrDropdownTrigger>
                <clr-icon shape="cog" size="24"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <button (click)="navigateToProfilePage()" type="button" clrDropdownItem>Profile</button>
                <div class="dropdown-divider"></div>
                <button (click)="logOutCurrentUser()" type="button" clrDropdownItem >Log Out</button>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>
