<div class='maps-wrapper'>
<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false" 
  (mapClick)="mapClicked($event)">


    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
      <agm-marker 
      *ngFor="let challenge of challengeListObservale | async"
      [latitude]="challenge.location.latitude"
      [longitude]="challenge.location.latitude"
      [label]="challenge.challengeName">
      
      <agm-info-window>
        <app-info-window (challengeResponseEventEmitter) = "showChallengeResponseDialog($event)" [challenge] = "challenge"></app-info-window>
      </agm-info-window>
    
      </agm-marker>
    </agm-marker-cluster>
</agm-map>
<div *ngIf="isChallengeResponseDialogOpen" class = "challenge-response-dialog-wrapper">
  <app-answer-challenge (challengeResponseCompleteEventEmitter) = "changeIsModalOpen($event)" [challenge] = "tappedChallenge"></app-answer-challenge>
</div>
</div>
