.forms-container {
    display: flex;
    flex-direction: column;
}
  
.forms-container > * {
    width: 40%;
    margin: auto;
}

.forms-container > button {
    width: 10%;
}

.message-container > * {
    text-align: center;
}