<div class="create-question-component">
    <form [formGroup]="createQuestionForm">
        <input type="text" formControlName="questionText" placeholder="Question Text">
        <input type="text" formControlName="option1" placeholder= "Option 1">
        <input type="text" formControlName="option2" placeholder= "Option 2">
        <input type="text" formControlName="option3" placeholder= "Option 3">
        <input type="text" formControlName="option4" placeholder= "Option 4">
        <input type="number" formControlName="correctChoice" placeholder= "Correct Choice">
    </form>
    <button (click)="onAddNewQuestion()" type="button" class="btn btn-primary">Add Question.</button>
</div>
