<div class="modal-body">
    <form [formGroup]="createChallengeForm">
        <input type="text" formControlName="challengeName" placeholder="Challenge Name">
        <div class="location-input-wrapper">
            <input type="number" formControlName="latitude" placeholder="Latitude">
            <input type="number" formControlName="longitude" placeholder="Longitude">
        </div>
    </form>

    <input type="text" [(ngModel)]="newTag" placeholder="One or more tags" (keyup.enter)="onAddNewTag()">
    <section *ngIf="listOfTags.length > 0">
        <ul class="tags-list">
            <li *ngFor="let tag of listOfTags">
                <span style="float: left; " class="label label-success">
                    {{tag}}
                        <clr-icon shape="times" (click) = "removeTag(tag)"></clr-icon>
                </span>
            </li>
        </ul>
    </section>
    <br>

    <button (click)="doCreateChallenge()" [disabled]="isBusy" type="button" class="btn btn-primary">Create Challenge</button>

    <app-questions-challenge (addNewQuestion) = "onCreateNewQuestion($event)"></app-questions-challenge>
    <section *ngIf="listOfQuestions.length > 0">
        <ul class="question-list">
            <li *ngFor="let question of listOfQuestions">
                <h3>{{question.questionText}}</h3>
                <div *ngFor="let option of question.choices; let i=index">
                    <div class="switch-container" [ngSwitch]="i === question.correctChoice">
                        <span *ngSwitchCase = "true" style="float: left; " class="label label-success">{{option}}</span>
                        <span *ngSwitchCase = "false" style="float: left; " class="label">{{option}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
