<div class="create-challenge">
    <div class="challenge-form">
        <mat-form-field>
            <mat-label>Challenge Name</mat-label>
            <input matInput #name>
        </mat-form-field>
        <mat-form-field class="genre-chip-list">
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let genre of genres"
                    [selectable]="selectable" [removable]="removable" 
                    (removed)="remove(genre)" >
                    {{genre}}
                    <mat-icon MatChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input 
                    placeholder="Genres..." #genreInput 
                    [formControl]="genreCtrl" [matAutocomplete]="auto" 
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let genre of filteredGenres | async" [value] = genre>
                    {{genre}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!--<div *ngFor="let question of questions.control; let i=index">
            <mat-form-field>
                <mat-label>Question</mat-label>
                <input matInput [formControlName]="i">
            </mat-form-field>
        </div>-->
        <button mat-flat-button (click)="addQuestion()"></button>
    </div>
</div>