<div class="profile-page">
    <div class="user-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 offset-md-1">
              <h1>User Info</h1>
              <h5> {{ username }}</h5>
              <ul>
                  Posted Challenges:
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <br><br>
                  Answered Challenges
                  <li>

                  </li>
              </ul>
            <!-- <follow-btn user="$ctrl.profile" ng-hide="$ctrl.isUser"></follow-btn> -->
          </div>
        </div>
      </div>
    </div>
  </div>