<div class="register-wrapper">
    <form [formGroup]="frm">
  
      <h1>GeoQuiz</h1>
  
      <!-- Username input -->
      <input type="text" formControlName="email" placeholder="Your email address">
  
      <!-- Username validation message -->
      <div
        class="input-errors"
        *ngIf="(frm.get('email').invalid && frm.get('email').touched) || showInputErrors"
      >
        <div *ngIf="frm.get('email').hasError('required')">
          Please enter your email address.
        </div>
      </div>
  
      <!-- Password input -->
      <input type="password" formControlName="password" placeholder="Your password">
  
      <!-- Password validation message -->
      <div
        class="input-errors"
        *ngIf="(frm.get('password').invalid && frm.get('password').touched) || showInputErrors"
      >
        <div *ngIf="frm.get('password').hasError('required')">
          Please enter your password
        </div>
      </div>
      
      <!-- Date of Birth input -->
      <input type="date" formControlName="dateofBirth" placeholder="">
  
      <!-- Password validation message -->
      <div
        class="input-errors"
        *ngIf="(frm.get('dateofBirth').invalid && frm.get('dateofBirth').touched) || showInputErrors"
      >
        <div *ngIf="frm.get('dateofBirth').hasError('required')">
          Please enter your dateOfBirth
        </div>
      </div>
  
      <!-- Sign-in error message -->
      <div class="sign-in-error" *ngIf="hasFailed">
        Invalid username and password.
      </div>
  
      <!-- Sing-in button -->
      <button (click)="doSignIn()" [disabled]="isBusy">
        <ng-template [ngIf]="!isBusy">Sign up</ng-template>
        <ng-template [ngIf]="isBusy">Signing up, please wait...</ng-template>
      </button>
  
    </form>
  </div>
 